@import url("https://fonts.googleapis.com/css2?family=Hubballi&display=swap");
.container {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: baseline;
  font-family: "Hubballi", cursive;
  font-size: 20px;
  background: #1170af;
}

.button {
  margin: 10px;
  border: none;
  padding: 5px;
  border-radius: 5px;
  background-color: #103249;
  color: white;
  display: flex;
  justify-content: center;
  align-items: baseline;
}
