.container {
  padding: 0 2rem;
  display: flex;
  flex-wrap: wrap;
  background: linear-gradient(to top, #2980b9, #6dd5fa, #ffffff);
  justify-content: center;
  align-items: center;
}

.button {
  border: none;
  padding: 5px;
  border-radius: 5px;
  background-color: #103249;
  color: white;
}
.user {
  margin: 10px;
  border: 1px groove rgb(78, 4, 4);
  border-radius: 5px;
}

.name {
  font-family: "Hubballi", cursive;
  font-size: 20px;
}
